[2020-07-27 03:58] notmandatory opened #149 "Add Payjoin support"
**Description**

Implement (optional) [BIP-0078] [PayJoin] support in the `bdk-cli` wallet using the [rust bip78] project. PayJoin transactions provides a way to collaboratively create a transaction with a receiver in a way that prevents on-chain surveillance from using the [common input ownership heuristic]. Adding this feature to the `bdk-cli` project will demonstrate to other wallet builders us

[2020-12-14 15:22] RCasatta opened #3 "Regression in CLI tool"
Current master (4ede4a4ad0bbf1b9c10fda9bea33a34cfb9587ba) doesn't warn the user in case of wrong command, like:

[code]

while for example a while back (ae16c8b) an error with suggestions was shown

[code]

probably due to `structopt`  migration

[2020-12-18 12:53] RCasatta opened #1 "log level in cli"
After the introduction of the `--log_level` cli parameter, we lost the ability to filter logs by package making it unusable for log levels like debug or more granular (because there is too much output from package like rustls and sled).

example
[code]

I think we should either:
* remove `--log_level` parameter
* if possible accept in `--log_level` the same format supported in RUST_LOG and even al

[2020-12-24 04:33] #1 closed

[2021-01-03 00:44] github-actions[bot] opened #6 "RUSTSEC-2020-0016: `net2` crate has been deprecated; use `socket2` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `net2`                      |
| Version             | `0.2.37`                   |
| URL                 | [https://github.com/deprecrated/net2-rs/commit/3350e3819adf151709047e

[2021-01-05 08:11] RCasatta commented on #3
issue solved

[2021-01-05 08:11] #3 closed

[2021-01-05 15:04] afilini opened #7 "Update instructions to install the `repl`"
I guess we should change the instructions on bitcoindevkit.org to install the repl from the other repo - or even better as soon as we publish `bdk-cli` to crates.io we could just switch to using that by default instead of git.

_Originally posted by @afilini in https://github.com/bitcoindevkit/bdk/issues/248#issuecomment-754691372_

[2021-01-05 18:50] notmandatory commented on #7
Good point I'll work on it.

[2021-01-12 20:52] notmandatory commented on #7
closed by https://github.com/bitcoindevkit/bitcoindevkit.org/pull/19

[2021-01-12 20:52] #7 closed

[2021-01-19 23:41] notmandatory opened #11 "Show better error message when wallet descriptor changes"
If the `bdk-cli` command is used with an existing database but given a new descriptor an error like this is returned:
[code]
A more informative message should be given so the user knows they can fix the problem by using a different wallet name or removing the existing `~/.bdk-bitcoin` directory.

[2021-01-19 23:55] notmandatory commented on #11
Another way to handle this might be to remove wallet name as an option, and just use the descriptor checksum as the DB tree name. Then we should never get this error and the `bdk-cli` tool can be used easily with multiple descriptors data cached in the same database.

[2021-01-20 00:38] thunderbiscuit commented on #11
I like the idea of being explicit. If this error had not happened to me and bdk simply made a new wallet for each new test I made I would not have known really what happened to all my descriptors/wallets/tests.

A good idea might be to print a message for the user whenever a brand new wallet is created:
[code]
or something like that, making it really explicit and obvious that bdk is keeping track

[2021-01-20 00:43] thunderbiscuit opened #12 "Add subcommand to break out of the repl"
Just for completeness. After a few minutes in the repl I tried exiting and ended up realizing that there were no commands for it and I had to ctrl+d out.

An `exit` subcommand would be a nice touch.

[2021-01-20 03:37] notmandatory commented on #11
Adding a notice when a new wallet is added is a good idea.

As for wallet names, I was thinking of not using names because the db is only really a cache of wallet data that can always be regenerated from the descriptor, I'm not sure if there's ever a reason to choose a wallet name. Essentially each descriptor gets it's own cache of blockchain data, the cli just allows you to give the cached data f

[2021-01-20 13:26] thunderbiscuit commented on #11
Yeah good point.

I was playing with it this morning and was wondering if maybe the wallet names could be used to shorten the commands and skip providing the descriptor? It's not really that necessary but I was writing notes for myself and thought maybe that was actually already the case. Say for example:

[code]

Upon further use of the wallet what if you could do:
[code]
Skipping the descriptor?

[2021-01-20 13:27] thunderbiscuit commented on #11
Mmmm. Now that I'm reading myself I see that this is basically just rebuilding the repl... not too groundbreaking.

[2021-01-20 17:53] notmandatory commented on #11
The main point is that the cli doesn't save any descriptor info in the DB, only a cache of block/transaction data. At least for now key/descriptor storage is meant to be left to the user.

[2021-01-20 18:32] thunderbiscuit commented on #11
Ah yes of course.

[2021-02-10 18:33] #12 closed

[2021-02-13 19:27] thunderbiscuit opened #15 "Odd behaviour on public_descriptor subcommand"
I'm assume this is not in `bdk-cli` directly but in `bdk` instead, but I'm opening the issue here because it's through the cli that @notmandatory and I came across this.

As expected, commands cannot operate on a descriptor whose path includes a hardened `xpub`. For example:
[code]

We are, however, able to derive a `public_descriptor` from that descriptor... and I'm not really sure of what that w

[2021-02-26 02:36] notmandatory commented on #6
fixed with update to `bdk` `^0.4`

[2021-02-26 02:36] #6 closed

[2021-03-02 22:52] notmandatory opened #20 "Add a sub-command to compile a miniscript policy into a descriptor"
Given a miniscript spending "policy" and an optional script type ("sh", "wsh", or "sh-wsh") with default "wsh", compile the policy into it's corresponding output descriptor.

This is a command we found would be handy to have while creating the ["Spending Policy Demo"] blog post.

["Spending Policy Demo"]: https://bitcoindevkit.org/blog/2021/02/spending-policy-demo/

[2021-03-05 13:01] afilini commented on #20
Fixed by #21

[2021-03-05 13:01] #20 closed

[2021-03-15 19:53] notmandatory commented on #11
Better error now provided via #23, resolves this issue.

New checksum error looks like this:
[code]

[2021-03-15 19:53] #11 closed

[2021-05-19 12:51] RCasatta opened #27 "Enforce build toolchain?"
Electrs enforce build with a specific toolchain, which is good practice for binary projects as explained in the commit
https://github.com/romanz/electrs/commit/3c4cf729600e94f83ee3104adf797306e10f77ba

we may want to consider to do the same

[2021-05-20 15:30] notmandatory commented on #27
This looks like a good idea. As something related to this issue I think we should also take `Cargo.lock` out of `.gitignore` and commit that file in our repo, per [recommendation in FAQ](https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries).

[2021-06-08 16:50] thunderbiscuit opened #29 "Error when installing from Cargo"
Attempting to install the cli from Cargo returns the following error:

[code]
Not sure what is going on here. Do I need to provide a `--features` argument when downloading from Crates.io?

[2021-06-08 17:13] thunderbiscuit commented on #29
Yep you do. The following does the trick:
[code]

I have opened a PR with small improvements to the readme to ease the install for the next devs!

[2021-06-08 17:13] #29 closed

[2021-07-12 22:31] notmandatory opened #32 "Add verbose (v) flag to the wallet subcommand, if enabled display PSBTs also as JSON"
Currently the "wallet" subcommands "create_tx", "sign", and "finalize_psbt" returned a PSBT in serialized format. Add a new wallet flag with long name "verbose" and short name "v" that when enabled with cause these sub-sub-commands to also return the PSBT in deserialized JSON format, in addition to the existing serialized form currently returned.

This is a good first issue for @sandipndev

[2021-07-15 03:53] DarthBenro008 commented on #27
I'd like to take this up and add it in CI as well has commit the `Cargo.lock` file. Should we set the rust-toolchain to version `1.53.0`?

[2021-07-15 04:37] notmandatory commented on #27
Great! yes please use the `1.53.0` rust-toolchain since it's the current stable version.

[2021-07-18 21:58] notmandatory commented on #32
Fixed via #33

[2021-07-18 21:58] #32 closed

[2021-08-12 13:28] #27 closed

[2021-08-18 22:57] thunderbiscuit opened #39 "Error when attempting to install from crates.io"
When I use the recommended cargo install for the binaries I get this error:

[code]

I could easily build from source so it's not a problem for me right now but I just wanted to point it out!

[2021-08-19 12:19] thunderbiscuit opened #40 "Feature request: address index in verbose output"
Would love to be able to tell the address index on the `get_new_address` method if a verbose flag was enabled!

[2021-08-19 13:19] notmandatory commented on #40
:+1: good idea

[2021-08-19 15:02] notmandatory commented on #39
This can be worked around by using this command:
[code]

This should be fixed in the next release of `bdk-cli` 0.3.0, so we should leave this open until that one is out.

[2021-08-24 20:21] thunderbiscuit commented on #40
I wonder if this might be a good issue for @mbcse to try and tackle. Is that something you'd be interested in Mohit?

[2021-08-25 14:00] mbcse commented on #40
Sure will try this out!

[2021-08-31 21:06] mbcse commented on #40
I found out that we can use fetch_index function to get the current index but it seems that function is private in the bdk, should I go for bdk level change?

P.S: Although I am still finding other possibilities to do this

[2021-09-01 03:00] notmandatory commented on #40
My suggestion is to make the `AddressInfo` struct in `bdk` serializable with the derive macro:
[code]

Then in `bdk-cli` for the GetNewAddress command return the whole AddressInfo struct instead of only the AddressInfo.address value.

[2021-10-10 00:44] github-actions[bot] opened #46 "RUSTSEC-2021-0119: Out-of-bounds write in nix::unistd::getgrouplist"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `nix`                      |
| Version             | `0.18.0`                   |
| URL                 | [https://github.com/nix-rust/nix/issues/1541](https://github.com/nix-rust/nix/issues/1541) |
| Date                | 2021-09

[2021-10-10 00:44] github-actions[bot] opened #47 "RUSTSEC-2020-0036: failure is officially deprecated/unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `failure`                      |
| Version             | `0.1.8`                   |
| URL                 | [https://github.com/rust-lang-nursery/failure/pull/347](https://git

[2021-10-21 03:23] notmandatory opened #50 "Update `bdk-macros` dependency to "^0.6""

[2021-10-21 03:28] notmandatory opened #51 "Upgrade Github Actions workflow to use codecov-action@v2"
The current Github Actions [`codecov-action@v1` tool is being deprecated](https://about.codecov.io/blog/codecov-uploader-deprecation-plan/) and we must upgrade our `code_coverage.yml` workflow to the new version [`codecov-action@v2`](https://about.codecov.io/blog/introducing-codecovs-new-uploader/) by early next year.

[2021-10-25 18:10] cipherchabon opened #53 "Error when try to install bdk-cli on ubuntu 20.04"
I am trying to install bdk-cli on ubuntu 20.04. I run the following command:

[code]
And I get this error.
[code]

Any help would be appreciated. I am a newbie to the Rust ecosystem.

[2021-10-25 23:51] #53 closed, assigned to nobody

[2021-11-01 16:17] #51 closed

[2021-11-19 15:05] #50 closed

[2021-11-22 13:38] rajarshimaitra commented on #40
Hey @mbcse , are you still working on this?

[2021-11-23 03:33] notmandatory opened #55 "Add options to start regtest bitcoind and electrsd"
For users who are manually testing `bdk` with `bdk-cli` in regtest mode, add a new `regtest-net` cargo feature that will automatically start and stop a `bitcoind` and if needed an `electrsd` daemon with `electrum` or `esplora` support. The regtest net daemons will only be started if the `--network regtest` option is enabled.

The feature should work similarly to the `bdk` integration tests but sto

[2021-11-23 12:39] rajarshimaitra commented on #55
This would be really helpful to make bdk-cli testing process more seamless..

[2021-12-08 07:43] rajarshimaitra opened #62 "Create Integration tests for bdk-cli"
After Proof of Reserves capability is merged in https://github.com/bitcoindevkit/bdk/commit/b2ac4a0dfd33e1286059d0bd090fd9137e2545ba, its time we require some integration tests in the library. Not only for Proof of Reserves functionality, but in general wallet functions too.

This then can be added into CI tests to give us better reliability on the underlying bdk functions.

[electrsd](https://git

[2021-12-08 21:26] notmandatory opened #63 "Add optional features for wallet data"
Currently `bdk-cli` can only use the `bdk/key-value-db` feature for wallet data storage. I propose we make the `bdk/default` memory database the default for `bdk-cli`, and add two new optional and mutually exclusive features that enable use of the `bdk/key-value-db` or `sqlite` DBs which override using the memory DB. These features could be named `key-value-db` and `sqlite`.

The purpose of this r

[2021-12-08 21:34] notmandatory commented on #47
Fixed by #60

[2021-12-08 21:34] #47 closed

[2021-12-23 00:32] theBitcoinDeveloper opened #66 "Broken experience with Esplora feature on BDK-CLI installation"
Hello,
I ran the code mentioned in https://bitcoindevkit.org/bdk-cli/installation/

`cargo install --git https://github.com/bitcoindevkit/bdk-cli --features=esplora,compiler`

is throwing an error as shown below

It works fine if I remove "esplora" and just run with
`cargo install --git https://github.com/bitcoindevkit/bdk-cli --features=compiler`

![Screenshot from 2021-12-22 16-31-45](https://us

[2021-12-23 00:34] theBitcoinDeveloper commented on #66
Sorry, found the reference in https://github.com/bitcoindevkit/bdk-cli/issues/53

Going to close this now

[2021-12-23 00:34] #66 closed

[2021-12-29 16:16] rajarshimaitra opened #67 "Add Cookie authetication"
bdk-cli currently uses rpc "user:password" authentication.

We can also allow it to connect to rpc via cookie file. Although looking for opinions on how useful it can be.

[2022-02-16 16:34] thunderbiscuit opened #70 "Wrong help message for repl command"
The `repl` command currently displays `Proxy Server options` as its short help message.

![repl-help](https://user-images.githubusercontent.com/39974688/154311764-1a930de6-829a-4337-aaaf-bfab1ede1efc.png)

It should probably say something like `Enter read-eval-print loop workflow` or something similar.

[2022-02-16 20:35] notmandatory commented on #70
Should be fixed with #69 😄

[2022-02-16 20:46] thunderbiscuit commented on #70
Awesome!

[2022-02-16 20:46] #70 closed

[2022-03-05 02:49] notmandatory opened #75 "Make all features additive, none mutually exclusive"
All features should be additive and none should be mutually exclusive. See Cargo book section on [feature unification].

Current blockchains features (electrum, esplora, compact_filters, rpc) are mutually exclusive. The need to be made to be additive with a runtime flag to select which one the wallet should use.

[feature unification]: https://doc.rust-lang.org/cargo/reference/features.html#featur

[2022-03-05 16:25] rajarshimaitra commented on #75
One problem of this I feel gonna come is, it will further increase the args list?

[2022-03-05 23:26] notmandatory commented on #75
I think we should be able to work out a reasonable default behavior if multiple blockchain features are enabled such as if you enable everything, but don't specify which one you want to use it uses electrum.  Or if you only enable esplora-ureq it uses that, and if you enable rpc and compact_filters, it defautls to rpc. It will be nice for testing to be able to enable all features without recompili

[2022-03-05 23:54] notmandatory commented on #75
If it does get too complicated we can also leave things as is, but I think it's worth a try.

[2022-03-07 14:08] rajarshimaitra commented on #40
@mbcse if you are short on time for this one, I am taking it up.. Let me know if you already have made progression..

[2022-03-07 14:12] rajarshimaitra opened #76 "Open up rpc control for auto deployed regtest mode"
The work needs to be done in two parts:
 - Create non tmp datadir for regtest node data in `~/.bdk-bitcoin`.
 - Open up basic rpc calls via repl commands to do basic node operations.

[2022-03-10 16:04] thunderbiscuit opened #78 "Help printout is broken on repl"
The help printout works well on `v0.3.0`:
<img width="1490" alt="v0 3 0" src="https://user-images.githubusercontent.com/39974688/157703296-2716a1ed-d9b9-4aeb-90d8-008670fef10f.png">

<br/>

But is broken on `v0.3.1`:
<img width="1506" alt="v0 3 1" src="https://user-images.githubusercontent.com/39974688/157703399-9eb7d7cb-cd8f-46ea-be49-a9eda2fb2c88.png">

[2022-03-11 16:26] thunderbiscuit commented on #78
Actually it's not the printout that's broken it's the whole `help` command, which exits the repl completely.

[2022-03-14 01:13] notmandatory commented on #63
EDIT: If possible I'd like to make the database features NOT mutually exclusive.

[2022-03-14 13:35] rajarshimaitra commented on #63
I haven't fully grasped on the down side of not having mutually exclusive features.. Is that a very big problem? Many things especially like DB might make more sense to be mutually exclusive I feel?

[2022-03-14 15:09] notmandatory commented on #63
Not having [mutually exclusive features](https://doc.rust-lang.org/cargo/reference/features.html#mutually-exclusive-features) is recommended in the Cargo book but is probably more of an issue for libs than end bins like this project. But even here I think it would be useful to be able to enable all features and use them all without having to rebuild to enable/disable the ones I want to test with.

[2022-03-25 10:39] rajarshimaitra opened #81 "Upgrade for bdk v0.17.0"
In light of https://github.com/bitcoindevkit/bdk/pull/535, I feel the cli code can be optimized a lot. We can remove the `OnlineWalletSubcommand` and `OfflineWalletSubcommand`, as there is now no distinction between online and offline wallets. All wallets are offline and we only need a `blockchian` when we want to sync and broadcast..

This needs to be done before other open PRs can be merged or e

[2022-03-25 14:15] rajarshimaitra commented on #78
This is so weird. Its happening on current master too.. The entire help output is being passed into a `Generic` error type somehow.. But this is something internal to `structop`. Because we don't handle the help command ourselves.. I will dig more..

[2022-03-29 16:59] notmandatory commented on #81
I think the basic options and commands will look the same since we already only enable online commands when a blockchain feature is turned on. But I agree this is a high priority to update to the new bdk API.

[2022-03-29 21:55] kirillzh commented on #81
Could we also add `verify` feature? Getting this right now when trying to install it:
[code]

[2022-03-29 22:17] notmandatory commented on #78
This is fixed by #82.

[2022-03-29 22:17] #78 closed

[2022-03-31 12:23] rajarshimaitra commented on #81
Yes currently bdk-cli doesn't expose the `verify` function. Do you think that is useful? I am curious to know your use case for transaction verification. In general if your wallet is connected to a backend node, the node verifies the transaction by itself and then provides it to the wallet.

[2022-04-01 03:34] notmandatory commented on #81
I've added a `bdk-cli` `verify` feature in #73

[2022-04-01 16:34] #81 closed

[2022-04-27 09:48] rajarshimaitra opened #83 "Allow Sqlite DB"
Currently `bdk-cli` only uses sled database. But BDK now supports sqlite too. This can be extended to bdk-cli using a `sqlite` feature flag.

Having Sqlite DB in wallet database can be useful for lib users in many situations.

[2022-04-27 10:06] rajarshimaitra opened #84 "Change default network to `Regtest`"
As discussed in  https://github.com/bitcoindevkit/bdk-cli/pull/65#discussion_r842412324 we might want to change the default network value to `regtest` instead of `testnet`.

Rationale: bdk-cli is mostly used in testing and demo purpose as an easy way to interact with BDK without write separate wallet codes. In such environment most of the testing I have found myself and others doing are on `regtes

[2022-04-27 15:25] notmandatory commented on #83
I saw this and thought, good idea! Then I remembered I started it with PR #71, but need to get it rebased and cleaned up. But if anyone else is interested and wants to help with review and testing that would be great!

[2022-04-28 01:53] #40 closed

[2022-04-28 02:15] notmandatory opened #85 "Fix stdweb audit advisotry RUSTSEC-2020-0056"
[code]

[2022-04-28 08:43] rajarshimaitra commented on #83
Yes I saw that one, and it fixes this.. Last I remember it was pending for additive feature capability.. But then again doesn't it make sense here to have wallet with only one db feature at a time?? What would it mean to have both `sled` and `sqlite` enabled??

In case we are not going towards that additive thing, then I think #71 works perfect.. I will review it again when its ready..

[2022-05-02 17:56] notmandatory opened #87 "Test watch-only LND wallet and signing PSBT"
This issue is to do a proof of concept test with BDK to confirm BDK can create a watch-only wallet to monitor the LND UTXOs and generate a PSBT that can be signed by LND. This idea is based on a discussion I had with @nicolasburtey and @bodymindarts about doing a BDK based wallet microservice for Galoy, initially for batching payments.

Goal of this test:
  - [ ] Setup `regtest` bitcoind with LND

[2022-05-02 18:10] nicolasburtey commented on #87
thanks @notmandatory still on my todo to create the ticket. I guess some of the early context is here already, will write down the full spec of a potential batching service shortly.

[2022-05-02 22:21] notmandatory opened #88 "Show valid options in help where possible"
Anywhere where there are only a limited enum set of options, such as with the network option, we should show in the help what those options are. This is done with the `possible_values` structopt feature, see example in Compile command:

[code]

[2022-05-03 08:40] RCasatta commented on #85
The plan I have in mind is:

* rust-bitcoincore-rpc 0.15 with bitcoin 0.28 is released https://github.com/rust-bitcoin/rust-bitcoincore-rpc/pull/221
* merge https://github.com/RCasatta/bitcoind/pull/62 and https://github.com/RCasatta/bitcoind/pull/60, release bitcoind 0.26.0
* remove pinning and increase MSRV to x.x.x (TBD) release bitcoind 0.27.0

[2022-05-03 18:13] notmandatory commented on #85
On the MSRV question BDK is bumping up to 1.56.0.

* https://github.com/bitcoindevkit/bdk/pull/596.

Also the focus for the next BDK release 0.19.0 is TP support so also updating `bitcoin` to 0.28 along with other dependencies doing the same like `rust-bitcoincore-rpc`.  Once BDK 0.19.0 is released the high priority for BDK-CLI should be to do the corresponding updates.

[2022-05-05 00:42] nicolasburtey commented on #87
could @sandipndev and @krtk6160 you look at this maybe?

[2022-05-11 07:50] rajarshimaitra commented on #87
I am interested in having this test too.. I am currently working on the final part of `regtest-node` feature where bdk-cli will be able to spawn a bitcoind and have rpc controller access to it.. In the same PR I am planning to include the integration test framework  similar to #79. This will allow us to do programmatic integration testing for bdk-cli and whatever backend combinations we wanna use

[2022-05-11 16:54] notmandatory commented on #83
Thanks, I'm going to merge #71 without the additive stuff for now.

[2022-05-11 16:58] notmandatory commented on #62
I'm going to merge #89 and #71 for 0.5.0 and then I think we should release it. Can we move this issue to next milestone 0.6.0?

[2022-05-11 17:07] #63 closed

[2022-05-12 07:58] rajarshimaitra commented on #62
Yes I also feel we should release the current bunch before that change, and push this to next release.. Because that PR will have some upstream pendings..

 - `electrsd` - Waiting for https://github.com/RCasatta/bitcoind/pull/61 and a new `electrsd` release.

- `bdk v0.190` (maybe?) - To include `bitcoincore-rpc v0.15.0` which is dependency of latest `electrsd` . Which I saw Alekos already did in

[2022-05-12 09:10] rajarshimaitra opened #91 "Version conflict in dependencies"
Currently we have two different source of `bdk` in the library. Our own dependency itself and one that is used by `bdk-reserves` which is in the bdk-cli dependency tree.

So as we are updating bdk-cli to maintain with current version of bdk, `bdk-reserve` is stable at `v0.17.0` so we are basically duplicating the entire bdk dependencies in our tree twice. And there has been a lot of changes in ups

[2022-05-12 10:36] rajarshimaitra commented on #91
Hmm.. Yeah I understand.. Its a tricky situation..

I checked out the bdk-reserve repo, and I feel it can be included in bdk-cli project itself as a separate module.. The code isn't large and bdk-cli is the only cli app as far as I know to use that code to expose the reserve capabilities. So might make sense to add it in bdk-cli than in bdk??

That will also solve the purpose of duplicate bdk as t

[2022-05-12 11:25] ulrichard commented on #91
bdk-reserves is also used in our proprietary cold storage solution, and I hope other projects will make use of it in the future. If it was included in a service component, I'm not sure it would be best to have it as part of a commandline project. Thus I think it is best to keep it as a separate library.
One place where I think it could be useful would be for private key control for the FATF travel

[2022-05-16 20:54] notmandatory commented on #91
I think it's best to leave `bdk-reserves` as it's own crate for now with it's own dependency on `bdk` since it has other uses outside of `bdk-cli`. It is a downside that we have to upgrade the `bdk` versions  in `bdk-cli` and `bdk-reserves` at the same time, but as long as @ulrichard is willing to help keep it in sync it shouldn't be a problem. Probably the best long-term solution is to make `bdk-

[2022-05-19 06:06] rajarshimaitra commented on #91
Sounds good to me.. That's probably the easiest approach.. Closing this on that note..

[2022-05-19 06:06] #91 closed

[2022-05-19 06:08] rajarshimaitra opened #93 "Bug in help doc"
The `bdk-cli --help` command in `electrum` mode is  little weird.

[code]

Both `repl` and `wallet` are marked as `Electrum options`.

Only happening in `electrum` feature.

[2022-05-24 00:41] #83 closed

[2022-05-26 08:26] i5hi opened #95 "Change not being detected by wallet"
### Issue

Change from a wallet is not being picked up in `get_balance` when both change and deposit descriptors are used together.
When Change descriptor is used alone, funds are detected.

### Reproduction Steps

- Account 0 Deposit Descriptor

[code]

- Account 0 Change Descriptor

[code]

- bdk-cli `get_balance`

*Ignoring `sync`*

[code]

[code]

[2022-05-26 08:35] i5hi commented on #95
[code]

[2022-05-26 08:46] i5hi commented on #95
We first spotted this bug in stackmate mobile and used bdk-cli to confirm that the error was not in our implementation.

Also, stackmate just recently (a week to 10 days ago) updated bdk from 0.13.0 to 0.18.0. We didn't, notice this bug previously OR it might have slipped us since we always just expected get_balance to be displaying the correct result.

The first pointer that made us spot somethin

[2022-05-26 08:49] i5hi commented on #95
If we look into this tx:
https://mempool.bullbitcoin.com/testnet/tx/bd8be8ae6c1ec5ee272bab075af8df810a1686ef233683de7edd7e8dd3ca7cf5
tb1q883xtcfqlw0744rwx3c583lujhn8mpfnr35pvx (OUR CHANGE)
‎0.00072338 tBTC
tb1q5ks04m6409n4v...kn66hp2nyqd3w2laqa (RECIPIENT)
‎0.00012536 tBTC

[2022-05-26 09:59] i5hi commented on #95
Just to confirm the above change address is from the same change descriptor:

[code]

[2022-05-26 10:03] i5hi commented on #95
I also noticed that while trying different bdk-cli versions, `sync` followed by `get_balance` would initially show balance as 0. If I run `get_address` after it then `get_balance` again, then the balance updates :S

Will open an other issue for that after this is resolved if I notice it happening more often. So far, this happened twice, with version 0.3.0 and 0.5.0

[2022-05-26 10:15] i5hi opened #96 "Sync bug with Electrum"
## Issue

A wallet using electrum node does not sync on first or second try and requires another command - in this case `get_new_address` to trigger a correct sync.

### Reproduction Steps

- Clear bdk-bitcoin working directory
- Run sync and get_balance (n number of times)
- Get 0 balance
- Run get_new_address (once)
- Rerun sync and get_balance (once)
- Get correct balance

[code]

[2022-05-28 14:54] i5hi commented on #95
really strange...

[2022-05-28 20:21] notmandatory commented on #95
I think this is a stop gap address issues, ie. the number of unused addresses looked at during syncing before it stops looking for new transactions. I was able to find all coins by using `sync --max_addresses 200`:
[code]

[2022-05-28 20:22] notmandatory commented on #95
This often happens when using a descriptor for testing and generate many new addresses that don't receive any new transactions.

[2022-05-29 16:37] i5hi commented on #95
Cheers @notmandatory!

[2022-05-29 16:37] #95 closed

[2022-05-29 16:41] i5hi commented on #95
This has actually made me aware of another issue that we could potentially bump into on stackmate.

We currently allow users to index addresses manually. We didnt initially have this but we added it just for a case with imported wallets. In a case where i have a wallet where the last used index is 6, and i have handed out addresses 7, 8, 9. When i import this wallet, it will start at address 6 and

[2022-05-29 16:54] i5hi commented on #96
I think this is related to #95 .

I think it can be closed.

[2022-05-29 16:59] i5hi commented on #96
I think get_new_address  here updates the address index which then triggers sync to catch it properly.

[2022-05-29 18:05] notmandatory commented on #95
A related PR you might find interesting is: https://github.com/bitcoindevkit/bdk/pull/546

It gives more control to find unused addresses and fill in gaps. Once this is merged and released in BDK it wouldn't be hard to expose this functionality in `bdk-ffi` and then the other languages.

[2022-05-29 18:08] notmandatory commented on #96
Yes I think it's related, if you can resolve the issue by increasing your `sync --max_addresses` then please close this issue too.

[2022-05-29 18:59] #96 closed

[2022-05-29 19:02] i5hi commented on #95
Nice! This is a really useful addition!

Thanks!

[2022-06-02 14:25] icota opened #97 "Broadcast should tell user to finalize PSBTs"
When trying to `broadcast` a PSBT such as
[code]
the transaction gets (rightfully) rejected by the network
[code]
due to not being `finalize`d.

To avoid user confusion I think the user should be either instructed to finalize the PSBT or have this be done automatically (which would be in line with what other wallets are doing).

[2022-06-02 15:34] notmandatory commented on #97
Good idea, rather than complicating the `broadcast` command with the extra options `finalize` has I'd prefer to give a nicer error if someone tries to broadcast a non-finalized psbt.

[code]

[2022-06-03 10:32] icota commented on #97
@notmandatory TBH before I opened this issue I didn't even realise there is a `finalize_psbt` (with the options) in the CLI. In that case it's obviously better to improve the error - I've changed the title to reflect that.

[2022-06-15 09:46] rajarshimaitra commented on #84
I have added this under 0.6 milestone.. Would love to get this thing in before #92..

@notmandatory if there's concept ack on this, I can get this done quickly..

[2022-06-20 07:06] nourou4them opened #101 "Error - Failed to compile bdk-cli"
**Describe the bug**
I tried to install the binaries on my machine by running the following command:
[code]
Then, I encountered the following error message:
[code]

**To Reproduce**
[code]

or
[code]

**Expected behavior**
I expected a clean installation and compiling, and then being able to run bdk-cli.

**Build environment**
 - BDK tag/commit: v0.5.0, 80260e1d
 - OS+version: ubuntu 20.04.01
 - R

[2022-06-20 18:24] nourou4them commented on #101
Thank you.
Installing `gcc` made it work.

Now I am stuck at the `sync` step.
I have followed this [4 videos series](https://www.youtube.com/watch?v=2DMnyXLIfCI&list=PLmyfVqsSelG3jSobvpY3GoNKDtAumsrg3) and replicated all the steps, on testnet, even receiving and sending a transaction.

Now, I wanted to add my flucrum server by launching this command :
[code]
I can see that it tried to connect to t

[2022-06-21 08:19] afilini commented on #101
It's a self signed certificate though, right? Those are a bit harder to get working, I would suggest you start by just using a plain tcp connection and then move to ssl once you are more familiar with it.

This is a completely unrelated error but it's hard to debug without seeing the full descriptor. I'm guessing maybe you tried adding a derivation path to a raw public key, which doesn't make sens

[2022-06-21 14:20] notmandatory commented on #85
I think this will be fixed by #99 so I assigned it to you @rajarshimaitra to confirm. Thanks!

[2022-06-22 07:58] nourou4them commented on #101
Ok I will try that.

Yes you are right. I made the mistake of using the pub key derivation path found on an address.
Your explanation led me to remove the derivation path and I just parsed the xpub like `"wpkh(xpub)"`.
And it works this time, using just a `main()` function inside a new cargo projetct.
It seems like the bdk-cli only use the testnet for now while I needed the mainnet.

Thanks a lot.

[2022-06-22 23:10] nourou4them commented on #101
So, I tried using the plain tcp connection to sync with the server but I have an error.
Just created issue [#639](https://github.com/bitcoindevkit/bdk/issues/639) on the bdk repo.

[2022-06-23 12:54] rajarshimaitra commented on #85
It seems its still there with #99

[code]

[2022-06-25 12:27] rajarshimaitra opened #103 "Fix `base64` dependency duplication"
We currently have multiple versions of `base64` in our dependency tree.. Ideally we should use the one exposed by `rust-bitcoin`.

[code]
[code]
[code]

From Cargo.lock at b3d81b48aa59def14739a753116a8ad48a665c36

[2022-06-27 02:18] nourou4them commented on #101
Update: Using the bdk, I managed to sync by accessing to my server via a tcp connection, like you advised.
Thanks.
I am closing this issue.

[2022-06-27 02:18] #101 closed

[2022-07-06 05:53] notmandatory commented on #85
Moved this one to bdk-cli 0.7.0 since the updated version of `bitcoind` 0.27.0 isn't released yet.

[2022-07-06 21:54] notmandatory opened #106 "Update to bdk 0.22.0"

[2022-07-06 21:55] notmandatory commented on #106
The bdk 0.20.0 version has a bunch of fixes and is due out July 13. As soon as it's released I'd like to get it into `bdk-cli` and release a corresponding new version.

[2022-07-06 23:53] notmandatory commented on #97
Do the changes in https://github.com/bitcoindevkit/bdk/pull/621 solve your issue if we bring that into bdk-cli?

[2022-07-07 07:47] icota commented on #97
I don't see how? My issue came about from trying to broadcast an unfinalized transaction and getting confused by the error message.

Are you saying changes in https://github.com/bitcoindevkit/bdk/pull/621 would make it less likely for the user to forget to finalize?

[2022-07-11 21:54] notmandatory commented on #97
Yes my thinking is for the `sign` command to always `finalize` (if possible), and then add a `--no-finalize` for those who don't want to finalize for some reason. The result of sign already lets the user know if the PSBT is in fact finalized. The problem with doing an automatic `finalize` on `broadcast` (and then throwing an error if that fails) is the user would have to repeat the signing options

[2022-07-12 06:28] icota commented on #97
My flow was from outside (hardware device) coming in (to `bdk-cli`).

But also I agree with what you said @notmandatory, in all cases `broadcast` shouldn't `finalize`. That's why I changed the title to merely suggest to the user to finalize.

[code]
was way too cryptic for me.

Would be great to say something like "WARNING: trying to broadcast a non-finalized transaction" beforehand.

[2022-07-16 21:22] notmandatory commented on #84
@rajarshimaitra If we make `regtest` the default network that means that users will also need at least the new `regtest-bitcoin` feature right? and that mean's we'd need to include that feature in the default feature set? I'm trying to image what a user who is just doing a `cargo install bdk-cli` would expect. Concept ACK as long as you're also plan to add `regtest-bitcoin` to the default features

[2022-07-19 00:30] oleonardolima commented on #88
@notmandatory I'm taking a look at this one, it's still up for takers?

[2022-07-19 05:05] rajarshimaitra commented on #84
I don't think that's the case.. They can run `regtest` just like they are running `testnet` right now.. By running a regtest backend node and connecting to the rpc port (which mostly works by default).. They don't need `regtest-bitcoin` to run it.. Thats only when they want the automated node feature..

As a user its easier for me to expect `bdk-cli wallet <command>` to just connect to my running

[2022-07-20 12:36] rajarshimaitra commented on #88
@oleonardolima you can try to apply them on top of #104 if you are still up for it. That will be the final version of the crate after the big changes.. So you don't have to make duplicate works..

[2022-07-20 12:44] rajarshimaitra opened #109 "Default features and option sets"
This is a discussion issue for selecting default options and feature sets in bdk-cli.

Currently as per #104 the defaults are this
 - Network: Testnet
 - Database : Sqlite
 - Backend: None

with the new `regtest-*` features I was thinking weather to make the default bdk-cli built with something like this
 - Network : Regtest
 - Database: Sqlite
 - Backend: Auto deployed Bitcoin Core

I feel that c

[2022-07-20 12:45] rajarshimaitra commented on #84
closing in favor of #109 and we can carry on the discussion there on general default value set..

[2022-07-20 12:48] rajarshimaitra opened #110 "Allow any bitcoin-cli rpc commands"
Currently we are only calling specific core RPC calls in the `node` commands.

We should move on to generic rpc calls that can handle any valid `bitcoin-cli` commands.

And we should only include composite commands (that combines multiple rpc calls) and have the in `node` command list.

[2022-07-20 13:56] rajarshimaitra opened #111 "A Running list of bdk-cli demo ideas"
with the `regtest-*` features and bdk-cli `repl` mode various multisig and other smart contracting situations can be demonstrated with bdk-cli..

Examle: Show an workflow of a Liquid like federation using a corresponding descriptor and bdk cli.

These demos can be recorded in various forms.
 - Tutorial on the website.
 - A demo videos in the youtube channel.
 - Add it as a integration tests as bot

[2022-07-21 15:57] oleonardolima commented on #88
@rajarshimaitra great! thanks for the suggestion, I'll work on top of it.

[2022-07-22 18:53] waterst0ne commented on #97
It seems you might of forgot to **sign** the psbt.
 You need to sign the PSBT using the `sign --psbt $UNSIGNED_PSBT` command.

Creating a  transaction using` bdk-cli` looks something like this...
- First you **create** a transaction`create_tx --to addressgoeshere:amountSats`
- Second you **sign** the transaction `sign --psbt $UNSIGNED_PSBT`
- Third and final step  is to **brodcast** the transactio

[2022-07-28 12:31] rajarshimaitra commented on #97
Hmm.. This seems like a possible improvement.. The "Witness program hash moissmatch" is not really enlightening.. Its should say something more friendly than that..

Putting this down in my todos..

[2022-07-28 12:35] rajarshimaitra commented on #75
@notmandatory Do we still want this one?? Having multiple databases together feels like can complicate things a lot..

On further thought on this, having non mutually exclusive features might make sense in general, but given the kind of things we are unleashing here with feature flags (like blockchains and dbs) trying to simulate some kind of over ridding feature gates (like use esplora, if both e

[2022-08-01 23:19] oleonardolima commented on #88
@notmandatory @rajarshimaitra I've gone through all the available commands in the current state of #104 as Raj suggested.

But I didn't find any other than the `network` one that could use the `possible_values`,  I'm not sure if I missed something 🤔

@rajarshimaitra as it's on top of #104 I'm going to open a [PR](https://github.com/rajarshimaitra/bdk-cli/pull/2) to [your branch](https://github.com

[2022-08-14 01:19] github-actions[bot] opened #112 "RUSTSEC-2022-0046: Out-of-bounds read when opening multiple column families with TTL"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `rocksdb`                      |
| Version             | `0.14.0`                   |
| URL                 | [https://github.com/rust-rocksdb/rust-rocksdb/pull/616](https://github.com/rust-rocksdb/rust-rocksdb/pull/616) |
| Date

[2022-08-21 01:17] github-actions[bot] opened #113 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-08-25 00:01] notmandatory commented on #113
I think clap as of 3.x now includes structopt like features. See: https://docs.rs/clap/latest/clap/

So I think rather than updating structopt we should just switch to clap 3.x, then we should be able to close this issue.

[2022-08-25 00:04] notmandatory commented on #112
Well need to update rocksdb in `bdk` first, then we can fix this in `bdk-cli`.

[2022-08-25 00:18] notmandatory commented on #88
Hi, sorry for the delay in getting to this, it's Ok if only network needs to be changed. You should be able to make your PR against the `master` bdk-cli branch so I can put it on our roadmap for the next release, but after raj's PRs are in you'll need to rebase your PR for this issue to pick up his changes before we can merge it. Thanks!

[2022-08-25 00:20] notmandatory commented on #75
I'll close this one for now, no need to add extra complications right now. But if someone feels strongly about giving it a try we can always reopen it. :-)

[2022-08-25 00:20] #75 closed

[2022-08-25 08:16] rajarshimaitra commented on #113
Sounds good idea.. Thats what I think we should do..  Shall we just close this one, and create as an enhancement issue?? Would be easier to find for anyone who might be interested taking it up, till I get to it..

[2022-08-29 22:08] oleonardolima commented on #88
@notmandatory no problem 😁 , actually Raj got the commit https://github.com/bitcoindevkit/bdk-cli/pull/104/commits/2999a3dc8a0e59b62b4de5308f80110d77dee5eb with the changes into the branch for #104.

[2022-09-10 18:22] #62 closed

[2022-09-10 18:22] #76 closed

[2022-09-10 18:22] #110 closed

[2022-09-12 03:52] rajarshimaitra opened #119 "AUDIT failure due to bdk + cbf dependency `rocksdb`"
This is to document the recent `cargo-audit` failures happening in CI.
[code]

There is a vulnerability in `rocksdb` which was originally reported by @afilini here https://github.com/bitcoindevkit/bdk/pull/724.

Depending on the outcome of experimentation with nakamoto for cbf, we might be able to get rid of rocksdb fully from our dep tree.

Till then I guess we have to live with this audit failur

[2022-09-13 01:34] notmandatory commented on #106
I renamed and repurposed this issue to update to 0.22.0, fixed by #118.

[2022-09-13 01:34] #106 closed

[2022-09-20 09:41] #88 closed

[2022-09-20 09:41] #93 closed

[2022-09-22 05:58] rajarshimaitra commented on #97
This one is up for grab btw.. If we don't get anyone on this in few weeks I will take it up..

[2022-09-22 06:03] rajarshimaitra opened #120 "Create integration test with OPRETURN"
With recent merge of https://github.com/bitcoindevkit/bdk-cli/pull/105. We have OPRETURN output creation in bdk-cli.. This can be covered in the integration tests in `tests/integration.rs` using the `regtsts-*` backend.

[2022-09-22 06:05] rajarshimaitra opened #121 "Add integration testing in CI codecov"
Currently our code coverage tests are only including unit tests. Which provides almost no coverage in the handlers and utils module. This can be improved by adding the integration tests into CI codecov jobs.

[2022-09-22 06:08] rajarshimaitra commented on #97
@notmandatory I am adding back the good first issue for this one in case someone wanna try this on. This doesn't seem like a pressing need but surely a nice thing to have..

[2022-09-28 21:00] notmandatory commented on #121
The `bdk` lib has switched to using https://coveralls.io/ because it has more accurate code coverage. Either in the PR for this issue or in a separate PR we should also switch `bdk-cli` to coveralls.

[2022-09-28 21:03] notmandatory commented on #119
I support temporarily removing `compact_filters` support to resolve this audit issue.

[2022-10-13 07:35] rajarshimaitra opened #126 "Vec<String> aren't parsing in clap 3.0"
After migrating to clap 3.0 from structopt I am observing the vector of strings are not being parsed properly.. Even if we declare the arg as `Vec<String>` its only reading the first value, creating a vector of 1 item and when encountering the second value throwing an error..

Possible course of actions.

 - Figure out whats the correct way to parse vector of strings in clap 3.0.
 - If that's not

[2022-10-15 14:22] MrUnfunny opened #127 "PSBT is finalized but throws error on broadcasting"
I am trying to test a multisig setup with 2 of keys on bdk-cli and 1 in another app. I got a single signed PSBT from another app, and signed it with my wallet on bdk-cli. On signing ```is_finalized``` is set to true but on broadcasting, I'm getting the following error:

[code]

It's working fine if I sign PSBT with both my keys.

<details>
<summary>unsigned PSBT</summary>

[code]
</details>

<deta

[2022-10-16 08:58] rajarshimaitra commented on #127
Thanks @MrUnfunny for reporting.. This is happening because probably the other app that you are using is creating signature of "High S" which is prohibited in Bitcoin protocol. That's what the `S value is unnecessarily high` error means and this is a security property enforced by Bitcoin consensus. If a Signature is created with "High S" then its possible to trivially create another valid signatur

[2022-10-16 09:01] rajarshimaitra commented on #127
Also from the psbt data I can see the witness script is something like this
`Script(OP_PUSHBYTES_33 02c116472a2a829ac47ae5fb773649aa05777a9e4f61308ea3aa51c74ec47e8e62 OP_CHECKSIG OP_SWAP OP_PUSHBYTES_33 039d00441e36b6faf1ee26ad749f322037d527b85d4a68be71d9f5c697b411850e OP_CHECKSIG OP_ADD OP_SWAP OP_PUSHBYTES_33 0319a48dcf3e10890c94f1bf9500d25177d5848786c1fe3bbcddd885766a7f855d OP_CHECKSIG OP_ADD O

[2022-10-16 09:49] MrUnfunny commented on #127
Hey @rajarshimaitra
The signature from the other app seems to be faulty. My original doubt was if ```finalize_psbt``` verifies the signatures but I forgot to add it here in this issue because it was already clarified on discord.

On the Witness script, yes that might be a little messy. I was just playing around with miniscript and didn't put much effort into it. On [this webpage](https://bitcoin.s

[2022-10-19 08:01] #127 closed

[2022-10-30 16:20] rajarshimaitra commented on #109
This is decided across various other threads.
Current defaults
DB : Sqlite
network : Testnet

[2022-10-30 16:20] #109 closed

[2022-10-30 16:22] rajarshimaitra commented on #103
`base64` dependencies in bdk-cli has been removed via recent changes..

[2022-10-30 16:22] #103 closed

[2022-11-14 11:18] rajarshimaitra opened #130 "Converge base64 dependncies."
We currently have two different `base64` dependency.

[code]

This will be fixed once https://github.com/rust-bitcoin/rust-bitcoin/pull/1342 is merged in in `rust-bitcoin` upstream..

[2022-11-19 11:19] rajarshimaitra commented on #126
Closing this in favor of https://github.com/bitcoindevkit/bdk-cli/pull/124#issuecomment-1296255649

[2022-11-19 11:19] #126 closed

[2022-11-20 01:19] github-actions[bot] opened #131 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.44`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2022-11-29 04:25] #113 closed